---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
    border-top: none;
}

.social-media-list li a {
    border: none;
    padding: 10px;
    background: var(--minima-border-color-01);
    border-radius: 5px;
}

.fa-itch-io {
    color: #FA5C5C;
}

.fa-youtube {
    color: #FF0000;
}

.fa-microsoft {
    color: #009DEB;
}

.fa-github {
    color: var(--minima-heading-color);
}

.fa-google-play {
    color: #33A451;
}

@media (prefers-color-scheme: dark) {
    :root {
        --minima-background-color: #202225;
        --minima-border-color-01: #37393B;
    }
}