* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--font-color);
}

html {
    --primary-color: white;
    --secondary-color: whitesmoke;
    --border-color: gainsboro;
    --gray-color: gray;
    --font-color: black;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'>\<circle cx='20' cy='20' r='2' fill='%23F1F1F1'/>\</svg>");
    background-repeat: repeat;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

.content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
    overflow: auto;
}
p, h1, h2, h3, h4, h5, h6, span, i {
    color: var(--font-color);
}
.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
}
.container {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.container > .header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--border-color);
}
.container > .header > p {
    font-size: 20px;
}
.container > .header > .icon:not(button):not(a.button) {
    color: var(--gray-color);
    width: 25px;
    height: 25px;
    text-align: center;
    align-content: center;
}
ol.container {
    background: var(--primary-color);
    list-style: circle;
    padding-left: 20px !important;
    border: none;
}
ul.container {
    background: var(--primary-color);
    padding-left: 20px !important;
    border: none;
}
ul.container ul {
    padding-inline-start: 30px;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
li {
    list-style-position: inside;
}
.material-symbols-rounded {
    user-select: none;
    text-align: center;
    align-content: center;
}

.subtext {
    color: var(--gray-color);
    font-size: small;
}

.subtext *:not(a) {
    color: var(--gray-color);
    font-size: small;
}

.rainbow {
    background: linear-gradient(#fd004c 16.7%, #fe9000 16.7%, #fe9000 33.4%, #fff020 33.4%, #fff020 50.1%, #3edf4b 50.1%, #3edf4b 66.8%, #3363ff 66.8%, #3363ff 83.5%, #b102b7 83.5%) !important;
    background-clip: text !important;
    color: transparent !important;
}
button, .button {
    height: 35px;
    width: auto;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s filter;
    text-decoration: none;
    font-size: medium;
}
button.icon, .button.icon {
    width: 35px;
}

button.icon > .icon, .button.icon > .icon {
    color: var(--gray-color);
}

button:hover, .button:hover {
    filter: brightness(0.85);
}

.disabled {
    filter: brightness(0.75);
    pointer-events: none;
}

input:not([type="image"], [type="range"], [type="checkbox"], [type="radio"]), select, .input, code, textarea {
    background: var(--primary-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
}

input:not([type="image"], [type="range"], [type="checkbox"], [type="radio"]):focus, select:focus, textarea:focus {
  border: 1px solid rgb(51, 145, 255);
  outline: 1px solid rgb(51, 145, 255);
}

a {
    color: rgb(51, 145, 255);
    text-decoration: none;
    transition: 0.25s filter;
}

a:hover {
    filter: brightness(0.85);
}

code {
    font-family: Consolas, monospace !important;
    display: block;
}

textarea {
    resize: none;
    width: 100%;
}

.icon_links {
    display:flex;
    align-items:center;
    gap: 10px;
}

.icon_links > a {
    width: 20px;
    height: 20px;
}

.icon_links .material-symbols-rounded, .icon_links svg {
    color: var(--gray-color);
    fill: var(--gray-color);
    width: 20px;
    height: 20px;
    line-height: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border: 2.5px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
}

::-webkit-scrollbar-corner { background: transparent; }

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  min-width: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: .4s;
  border-radius: 5px;
}

input:checked + .slider {
  background-color: rgb(51, 145, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(51, 145, 255);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.switch input:disabled + .slider {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.4;
}

.switch input:disabled + .slider:before {
  background-color: gainsboro;
}

table {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    border-collapse: separate;
    border-left: 0;
    border-radius: 5px;
    border-spacing: 0px;
    width: 100%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 5px 0 0 0;
}

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

th, td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid var(--border-color);
    align-content: center;
}

@media screen and (max-width: 1000px) {
    body {
        background-image: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    html {
        --primary-color: #202225;
        --secondary-color: #37393B;
        --border-color: #4B4C4F;
        --gray-color: #a5a5a5;
        --font-color: white;
    }

    body {
        background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'>\<circle cx='20' cy='20' r='2' fill='%23313336'/>\</svg>");
    }
}