* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--font-color);
}

html {
    --primary-color: white;
    --secondary-color: whitesmoke;
    --border-color: gainsboro;
    --gray-color: gray;
    --font-color: black;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'>\<circle cx='20' cy='20' r='2' fill='%23F1F1F1'/>\</svg>");
    background-repeat: repeat;
}

.content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
}
p, h1, h2, h3, h4, h5, h6, span {
    color: var(--font-color);
}
.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
}
.container {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.container > .header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--border-color);
}
.container > .header > p {
    font-size: 20px;
}
.container > .header > .icon:not(button):not(a.button) {
    color: var(--gray-color);
    width: 25px;
    height: 25px;
    text-align: center;
    align-content: center;
}
.material-symbols-rounded {
    user-select: none;
    text-align: center;
    align-content: center;
}
.rainbow {
    background: linear-gradient(#fd004c 16.7%, #fe9000 16.7%, #fe9000 33.4%, #fff020 33.4%, #fff020 50.1%, #3edf4b 50.1%, #3edf4b 66.8%, #3363ff 66.8%, #3363ff 83.5%, #b102b7 83.5%) !important;
    background-clip: text !important;
    color: transparent !important;
}
button, .button {
    height: 35px;
    width: auto;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s filter;
    text-decoration: none;
    font-size: medium;
}
button.icon, .button.icon {
    width: 35px;
}

button.icon > .icon, .button.icon > .icon {
    color: var(--gray-color);
}

button:hover, .button:hover {
    filter: brightness(0.85);
}

.disabled {
    filter: brightness(0.75);
    pointer-events: none;
}

input:not([type="image"], [type="range"], [type="checkbox"], [type="radio"]), select, .input, code, textarea {
    background: var(--primary-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
}

input:not([type="image"], [type="range"], [type="checkbox"], [type="radio"]):focus, select:focus, textarea:focus {
  border: 1px solid rgb(51, 145, 255);
  outline: 1px solid rgb(51, 145, 255);
}

a {
    color: rgb(51, 145, 255);
    text-decoration: none;
}

code {
    font-family: Consolas, monospace !important;
    display: block;
}

textarea {
    resize: none;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border: 2.5px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
}

::-webkit-scrollbar-corner { background: transparent; }

@media screen and (max-width: 1000px) {
    body {
        background-image: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    html {
        --primary-color: #202225;
        --secondary-color: #37393B;
        --border-color: #4B4C4F;
        --gray-color: #a5a5a5;
        --font-color: white;
    }

    body {
        background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'>\<circle cx='20' cy='20' r='2' fill='%23313336'/>\</svg>");
    }
}