body { font-family: sans-serif; padding: 25px; max-width: 1012px; margin-right: auto; margin-left: auto; }
h1 { margin: 0; }
code { background: color-mix(in srgb, transparent, gainsboro 50%); padding: 5px 7.5px; border-radius: 5px; }
ul { gap: 10px; display: flex; flex-direction: column; list-style-type: none; padding: 0; }
li { background: whitesmoke; border-radius: 5px; padding: 10px; display: flex; align-items: center; gap: 5px; }
li.success { background: color-mix(in srgb, springgreen, white 75%); }
li.fail { background: color-mix(in srgb, red, white 75%); }
canvas { height: 0; width: 0; }
img { border-radius: 5px; }
label { display: block; margin-bottom: 5px; font-weight: bold; }
button { cursor: pointer; background: #0092FF; border: none; height: 35px; border-radius: 5px; color: white; width: fit-content; padding: 0 25px; transition: filter 0.3s ease; }
button:hover { filter: brightness(90%); }
.button { text-decoration: none; cursor: pointer; background: #0092FF; border: none; height: 35px; border-radius: 5px; color: white; width: fit-content; padding: 0 25px; transition: filter 0.3s ease; }
.button:hover { filter: brightness(90%); }
h2 { margin: 0; border: solid gainsboro; border-width: 0 0 1px 0; padding: 10px 0; }