<div class="navigation">
  <img src="/favicon.png" width="35" height="35" draggable="false">
  <a href="/"><h3>SLT World</h3></a>
  <button class="menu-toggle" popovertarget="navigation-links"><span class="material-symbols-rounded icon">more_vert</span></button>
  <div id="navigation-links" popover class="links">
      <a href="/" class="button"><span class="material-symbols-rounded icon">home</span>Home</a>
      <a href="/explore/" class="button"><span class="material-symbols-rounded icon">explore</span>Explore</a>
      <a href="/tests/" class="button"><span class="material-symbols-rounded icon">science</span>Tests</a>
      <a href="/blog/" class="button"><span class="material-symbols-rounded icon">news</span>Blog</a>
  </div>
</div>