.rainbow {
    transition: all 1s;
}
.rainbow.shadow {
    letter-spacing: 0.2em;
    text-shadow: 0.1em 0.1em #fc0049, 0.2em 0.2em #fe8f01, 0.3em 0.3em #fdf21f, 0.4em 0.4em #3fdf4b, 0.5em 0.5em #3462fe;
}
.rainbow:not(.shadow) {
    background: linear-gradient(#fd004c 16.7%, #fe9000 16.7%, #fe9000 33.4%, #fff020 33.4%, #fff020 50.1%, #3edf4b 50.1%, #3edf4b 66.8%, #3363ff 66.8%, #3363ff 83.5%, #b102b7 83.5%);
    background-clip: text;
    animation: vertical 50s linear infinite;
    color: transparent;
}
.glow {
    text-shadow: 0 0 5px var(--font-color), 0 0 10px var(--font-color), 0 0 20px var(--font-color), 0 0 40px var(--font-color), 0 0 80px var(--font-color);
}
.gold {
    background: linear-gradient(
        to right,
        #cb9b51 0%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 100%
    );
    animation: horizontal 10s linear infinite;
    background-clip: text;
    color: transparent;
}
.anaglyph {
    letter-spacing: 2.5px;
    text-shadow: -3px 0 1px rgb(30, 242, 241), 3px 0 1px rgb(246, 5, 10);
}

@keyframes vertical{
    100%{
        background-position: 0 30em;
    }
}

@keyframes horizontal{
    100%{
        background-position: 30em 0;
    }
}

.timestamp {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 0 2.5px;
}

.embed {
    word-wrap: break-word;
    background: var(--darker-secondary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    white-space: initial;
    display: flex;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    max-width: 100%;
}

.embed:has(.header) {
    flex-direction: column;
    align-items: start;
}

.embed > .header {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.embed:not(.clean) {
    border-left: 5px solid var(--color);
}

.embed .gap {
    gap: 5px;
}

.center {
    display: flex !important;
    align-items:center;
}

.embed .field {
    display: flex;
    flex-direction: column;
}
.embed .field.inline {
    display: inline-flex;
    margin-right: 15px;
}

.embed .video_icon {
    color: var(--light-gray-color);
    opacity: 0.75;
    position: absolute;
    font-size: calc(50px + 2vw) !important;
    pointer-events: none;
}

.embed .avatar {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    object-fit: cover;
    background: var(--primary-color);
    overflow: hidden;
}
.embed.info {
    --color: dodgerblue;
}
.embed.warn {
    --color: darkorange;
}
.embed.error {
    --color: red;
}
.embed.success {
    --color: springgreen;
}
.embed.note {
    --color: gold;
}

.embed.site:has(.attachment), .embed.youtube:has(.attachment) {
    width: min-content;
    min-width: min(100%, 300px);
}

.embed.site > .bx, .embed.site > .header > .bx {
    color: var(--gray-color);
}

.embed.youtube {
    --color: red;
}
.embed.youtube > .bxl, .embed.youtube > .header > .bxl {
    color: red;
}

/*.embed:has(i.bx) {
    white-space: pre;
    display: flex;
    align-items:center;
}*/

.embed .bx, .embed .bxl {
    font-size: 22px;
}

.embed > .bx, .embed > .header > .bx, .embed > .bxl, .embed > .header > .bxl {
    margin-right: 5px;
    color: var(--color);
}

.embed > .header > .bx, .embed > .header > .bxl {
    margin-right: 0px;
}

.syntax_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.syntax_list > * .embed, #output .embed {
    display: inline-flex;
    vertical-align: middle;
}

.syntax_list > *, #output {
    display: block;
    background: var(--primary-color);
    max-width: 100%;
    overflow: auto;

    --primary-color: #202225;
    --secondary-color: #36393F;
    --darker-secondary-color: #2E3036;
    --light-gray-color: #646464;
    --gray-color: #a5a5a5;
    --font-color: white;
    --green: #18B357;
    --theme-color: royalblue;
    --color: var(--gray-color);
    --font: Poppins;
    --sidebar-width: 80px;
    --memberlist-width: 0px;
    --bold: 500;
    --emoji: '';
}
.syntax_list > * > pre:first-child {
    margin-bottom: 10px;
}
.syntax_list > * > *:not(audio):not(progress):not(hr) {
    align-content: center;
    width: max-content;
}
.syntax_list > * > pre {
    width: 100%;
}
p, h1, h2, h3, h4, h5, h6, span, i {
    font-family: inherit;
    color: inherit;
}


.syntax_list button {
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 15px;
  display: flex;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease;
  background: var(--primary-color);
  color: var(--font-color);
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.syntax_list .button {
    height: 40px;
    width: fit-content;
    padding: 15px;
    font-size: 15px;
    display: flex;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;
    background: var(--primary-color);
    color: var(--font-color);
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.syntax_list button i, .syntax_list .button i {
  font-size: 18px;
  text-align: center;
}
.syntax_list button:disabled, .syntax_list .button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.syntax_list button:disabled:active, .syntax_list .button:disabled:active {
    pointer-events: none;
}

.syntax_list button:hover:not(:disabled), .syntax_list .button:hover:not(:disabled){
  filter: brightness(85%);
}


progress {
    --color: mediumseagreen;
    accent-color: var(--color);
    border: 0;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
progress::-webkit-progress-bar {
    border: 1px solid var(--border-color);
    height: 10px;
    border-radius: 10px;
    background: var(--primary-color);
}
progress::-webkit-progress-value {
    border: 0;
    height: 10px;
    border-radius: 10px;
    background: var(--color);
}
progress::-moz-progress-bar {
    border: 1px solid var(--border-color);
    height: 10px;
    border-radius: 10px;
}

blockquote {
    padding-left: 10px;
    position: relative;
}

blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: var(--border-color);
    border-radius: 10px;
}

.spoiler:not(.open) {
  cursor: pointer !important;
}

.spoiler:not(.open) > * {
  pointer-events: none;
}

.spoiler:not(.embed):not(img):not(video) {
  border-radius: 5px;
  background: black;
  color: transparent;
  display: inline;
  --font-color: white;
  transition: color 0.3s ease;
  user-select: none;
  padding: 0 2.5px;
}

.embed.spoiler, img.spoiler, video.spoiler {
  filter: brightness(0.5) blur(75px);
  transition: filter 0.3s ease;
  mask-image: linear-gradient(to right, #fff, #fff);
}

.spoiler.open {
    cursor: unset;
}

.spoiler.open:not(.embed):not(img):not(video) {
    color: var(--font-color);
    user-select: unset;
}

.embed.spoiler.open, img.spoiler.open, video.spoiler.open {
    filter: none;
    mask-image: none;
}

.attachment {
    border-radius: 5px;
    border: 1px solid var(--light-gray-color);
    display: block;
    width: auto;
    max-width: min(100%, 350px);
    max-height: min(100%, 350px);
    cursor: pointer;
}

video.attachment {
    height: 100%;
}

.embed.clean.attachment {
    --color: var(--font-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    overflow: visible;
    cursor: unset;
}

.embed.clean.attachment > .header {
    gap: 10px;
}

.embed.clean.attachment > .header > div {
    width: 100%;
    min-width: 0;
}

.embed.clean.attachment > .header > div > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.embed.clean.attachment > .header > i {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    min-width: 40px;
}

.embed.clean.attachment > .header > button, .embed.clean.attachment > .header > .button {
    min-width: 40px;
    width: 40px;
}

.embed.clean.attachment > .controls {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.embed.clean.attachment > .controls > button {
    width: unset;
    height: unset;
    aspect-ratio: 1/1;
}

.embed.clean.attachment > .controls > p {
    white-space: nowrap;
    font-family: monospace !important;
}

.embed.clean.attachment > .controls > .audio-progress-container {
    width: 100%;
    height: 5px;
    cursor: pointer;
    position: relative;
}
.embed.clean.attachment > .controls > .audio-progress-container > progress {
    width: 100%;
    --color: var(--theme-color);
    height: 5px;
    display: block;
}
.embed.clean.attachment > .controls > .audio-progress-container > progress::-webkit-progress-bar {
    border: 0;
    height: 5px;
    border-radius: 5px;
    background: var(--gray-color);
}
.embed.clean.attachment > .controls > .audio-progress-container > progress::-webkit-progress-value {
    border: 0;
    height: 5px;
    border-radius: 5px;
    background: var(--color);
}
.embed.clean.attachment > .controls > .audio-progress-container > progress::-moz-progress-bar {
    border: 0;
    height: 5px;
    border-radius: 5px;
}

.embed.clean.attachment > .controls > .audio-volume-wrapper {
    position: relative;
}

.embed.clean.attachment > .controls > .audio-volume-wrapper > input[type='range'].vertical {
    position: absolute;
    bottom: 75px;
    transform: rotate(-90deg);
    width: 80px;
    height: 5px;
    left: -20px;
    right: 0;
    accent-color: var(--green);
}

img, video {
    max-width: 350px;
    max-height: 350px;
}

hr {
    margin: 10px 0;
    background: var(--light-gray-color);
    height: 1px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

mark {
    border-radius: 5px;
    background: mediumseagreen;
    color: var(--font-color);
    padding: 0 2.5px;
}

code {
    padding: 0 5px;
    display: unset;
    width: auto;
    text-shadow: none !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    color: var(--font-color) !important;
}

code .token.operator, .token.url {
    background: unset !important;
}

code.multiline {
    padding: 5px !important;
    display: block !important;
}

pre[class*=language-] {
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
    background: unset !important;
}

.mention {
    background: rgba(65, 105, 225, 0.4);
    color: aliceblue;
    border-radius: 5px;
    padding: 0 2.5px;
}