.subtext {
    color: var(--gray-color);
    font-size: small;
}

.subtext * {
    color: var(--gray-color);
    font-size: small;
}

.rainbow {
    transition: all 1s;
}
.rainbow.shadow {
    letter-spacing: 0.2em;
    text-shadow: 0.1em 0.1em #fc0049, 0.2em 0.2em #fe8f01, 0.3em 0.3em #fdf21f, 0.4em 0.4em #3fdf4b, 0.5em 0.5em #3462fe;
}
.rainbow:not(.shadow) {
    background: linear-gradient(#fd004c 16.7%, #fe9000 16.7%, #fe9000 33.4%, #fff020 33.4%, #fff020 50.1%, #3edf4b 50.1%, #3edf4b 66.8%, #3363ff 66.8%, #3363ff 83.5%, #b102b7 83.5%);
    background-clip: text;
    animation: vertical 50s linear infinite;
    color: transparent;
}
.glow {
    text-shadow: 0 0 5px var(--font-color), 0 0 10px var(--font-color), 0 0 20px var(--font-color), 0 0 40px var(--font-color), 0 0 80px var(--font-color);
}
.gold {
    background: linear-gradient(
        to right,
        #cb9b51 0%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 100%
    );
    animation: horizontal 10s linear infinite;
    background-clip: text;
    color: transparent;
}
.anaglyph {
    letter-spacing: 2.5px;
    text-shadow: -3px 0 1px rgb(30, 242, 241), 3px 0 1px rgb(246, 5, 10);
}

@keyframes vertical{
    100%{
        background-position: 0 30em;
    }
}

@keyframes horizontal{
    100%{
        background-position: 30em 0;
    }
}

.timestamp {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 0 2.5px;
}

.embed {
    word-wrap: break-word;
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    white-space: initial;
    display: flex;
    align-items: center;
    width: fit-content;
    overflow: hidden;
}

.embed:has(.header) {
    display: block;
}

.embed > .header {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.embed:not(.clean) {
    border-left: 5px solid var(--color);
}

.embed .gap {
    gap: 5px;
}

.center {
    display: flex !important;
    align-items:center;
}

.embed .field {
    display: flex;
    flex-direction: column;
}
.embed .field.inline {
    display: inline-flex;
    margin-right: 15px;
}

.center.vertical {
    flex-direction: column;
    align-items: flex-start;
}
.embed.vertical {
    flex-direction: column;
    align-items: flex-start;
}
.embed.middle {
    align-items: center;
}
.center.middle {
    justify-content: center;
}
.embed .video_icon {
    color: var(--light-gray-color);
    opacity: 0.75;
    position: absolute;
    font-size: calc(50px + 2vw) !important;
    pointer-events: none;
}

.embed .avatar {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    object-fit: cover;
    background: var(--primary-color);
    overflow: hidden;
}
.embed.info {
    border-left: 5px solid dodgerblue;
}
.embed.info > .bx, .embed.info > .header > .bx {
    color: dodgerblue;
}
.embed.warn {
    border-left: 5px solid darkorange;
}
.embed.warn > .bx, .embed.warn > .header > .bx {
    color: darkorange;
}
.embed.error {
    border-left: 5px solid red;
}
.embed.error > .bx, .embed.error > .header > .bx {
    color: red;
}
.embed.success {
    border-left: 5px solid springgreen;
}
.embed.success > .bx, .embed.success > .header > .bx {
    color: springgreen;
}
.embed.note {
    border-left: 5px solid gold;
}
.embed.note > .bx, .embed.note > .header > .bx {
    color: gold;
}

.embed.block {
    display: block;
}
.embed:has(br) {
    display: block;
}

/*.embed:has(i.bx) {
    white-space: pre;
    display: flex;
    align-items:center;
}*/

.embed .bx {
    font-size: 20px;
}

.embed > .bx, .embed > .header > .bx {
    margin-right: 5px;
    color: var(--color);
}

.embed.block > .bx, .embed.block > .header > .bx {
    top: 2.5px;
    position: relative;
    align-self: baseline;
}

.embed > .header > .bx {
    margin-right: 0px;
}

.syntax_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.syntax_list > * {
    display: flex;
    background: var(--primary-color);
    flex-direction: column;
}
.syntax_list > * > *:not(audio):not(progress) {
    align-content: center;
    width: max-content;
}
.syntax_list > * > pre {
    width: 100%;
}

progress {
    --color: mediumseagreen;
    accent-color: var(--color);
    border: 0;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
progress::-webkit-progress-bar {
    border: 1px solid var(--border-color);
    height: 10px;
    border-radius: 10px;
    background: var(--primary-color);
}
progress::-webkit-progress-value {
    border: 0;
    height: 10px;
    border-radius: 10px;
    background: var(--color);
}
progress::-moz-progress-bar {
    border: 1px solid var(--border-color);
    height: 10px;
    border-radius: 10px;
}

blockquote {
    padding-left: 10px;
    position: relative;
}

blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: var(--border-color);
    border-radius: 10px;
}

li {
    list-style-position: inside;
}

.spoiler {
    cursor: pointer;
}

.spoiler:not(.embed):not(img):not(video):not(iframe):not(canvas) {
    border-radius: 5px;
    background: black;
    color: transparent;
    display: inline;
    --font-color: white;
    transition: color 0.3s ease;
    user-select: none;
    padding: 0 2.5px;
}

.embed.spoiler, img.spoiler, video.spoiler, iframe.spoiler, canvas.spoiler {
    filter: blur(75px);
    transition: filter 0.3s ease;
    mask-image: linear-gradient(to right, #fff, #fff);
}

.attachment {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    display: block;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    cursor: pointer;
}
video.attachment {
    height: 100%;
}

img, video {
    max-width: 350px;
    max-height: 350px;
}

mark {
    border-radius: 5px;
    background: mediumseagreen;
    color: var(--font-color);
    padding: 0 2.5px;
}

code {
    padding: 0 5px;
    display: unset;
    width: auto;
    text-shadow: none !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    color: var(--font-color) !important;
}

code .token.operator, .token.url {
    background: unset !important;
}

code.multiline {
    padding: 5px !important;
    display: block !important;
}

pre[class*=language-] {
    padding: 0 !important;
    margin: 0 !important;
    overflow: auto;
    background: unset !important;
}

.mention {
    background: rgba(65, 105, 225, 0.4);
    color: aliceblue;
    border-radius: 5px;
    padding: 0 2.5px;
}